/* ==========================
       TESTIMONIALS
========================== */

.testimonials{

    background:#f8fafc;

}

.section-title{

    text-align:center;

    max-width:700px;

    margin:auto auto 60px;

}

.section-title span{

    color:#16a34a;

    font-weight:700;

    letter-spacing:2px;

}

.section-title h2{

    margin:15px 0;

}

.testimonial-slider{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(350px,1fr));

    gap:30px;

}

.testimonial-card{

    background:white;

    border-radius:22px;

    padding:35px;

    box-shadow:0 15px 40px rgba(0,0,0,.08);

    transition:.35s;

    position:relative;

}

.testimonial-card:hover{

    transform:translateY(-10px);

}

.quote-icon{

    font-size:70px;

    color:#16a34a;

    opacity:.2;

    position:absolute;

    top:10px;

    right:25px;

}

.testimonial-card p{

    margin-bottom:30px;

    color:#555;

    line-height:1.8;

}

.testimonial-user{

    display:flex;

    align-items:center;

    gap:15px;

}

.testimonial-user img{

    width:70px;

    height:70px;

    border-radius:50%;

    object-fit:cover;

}

.testimonial-user h4{

    margin-bottom:5px;

}

.stars{

    color:#fbbf24;

    margin-top:5px;

}