{% extends "base.html" %}

{% block content %}

<section class="hero">

    <div class="hero-content">

        <h1>Applicant Details</h1>

        <h3>Passport Photograph</h3>

    <img
        src="{{ url_for('static', filename='uploads/passports/' + applicant['passport']) }}"
        alt="Passport"
        width="180"
        style="border-radius:12px;">

        <p><strong>Name:</strong> {{ applicant["first_name"] }} {{ applicant["last_name"] }}</p>

        <p><strong>Date of Birth:</strong> {{ applicant["date_of_birth"] }}</p>

        <p><strong>Gender:</strong> {{ applicant["gender"] }}</p>

        <p><strong>Class:</strong> {{ applicant["class_applying"] }}</p>

        <p><strong>Parent:</strong> {{ applicant["parent_name"] }}</p>

        <p><strong>Phone:</strong> {{ applicant["phone"] }}</p>

        <p><strong>Email:</strong> {{ applicant["email"] }}</p>

        <p><strong>Address:</strong> {{ applicant["address"] }}</p>

        <p><strong>Status:</strong> {{ applicant["status"] }}</p>

        <div class="action-buttons">

    <a href="{{ url_for('static',
filename='uploads/birth_certificates/' + applicant['birth_certificate']) }}"
target="_blank">
    View Birth Certificate
</a>        

    <a href="{{ url_for('approve_applicant', applicant_id=applicant['id']) }}"
       class="approve-btn">
        Approve
    </a>

    <a href="{{ url_for('reject_applicant', applicant_id=applicant['id']) }}"
       class="reject-btn">
        Reject
    </a>
    <a href="{{ url_for('applicants') }}">
    ← Back to Applicants
</a>

</div>

    </div>

</section>

{% endblock %}